<div class="wrapper">
	<div class="wrapper_inner">
		<div class="vertical_wrap">
<app-navbar></app-navbar>
		</div>
		<div class="main_container">
			<div class="top_bar">
				<div class="hamburger">
					<i class="fas fa-bars"></i>
				</div>
				<div class="logo">
					Accueil
 <!-- <span>Market</span> -->
				</div>
			</div>
			<div class="content">
				<div class="container" id="home">
					<p id="metal">Metal</p>
					<p id="glass">Glass</p>
					<p id="plastic">Plastic</p>
				</div>
			</div>
		</div>
	</div>
</div>