body {
  font-family: Arial, sans-serif;
}

.table th, .table td {
  vertical-align: middle;
}

.chip {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #e0e0e0;
  border-radius: 16px;
  font-size: 12px;
  cursor: pointer;
}

.chip.active {
  border: 2px solid #007bff;
  background-color: #f4faff;
}

.chip.inactive {
  border: 2px solid #ccc;
}

.dropdown .dropdown-menu {
  min-width: 160px;
}

/* Centering the meatball icon */
.actions-container {
  display: flex;
  justify-content: center;
}

.dropdown-toggle::after {
  content: none !important;
}

.arrow {
  font-size: 10px;
  margin-left: 5px;
}

.dropdown-menu label {
  cursor: pointer;
}

/* form input */



  
.form .button, .form .message, .customSelect, .form .select, .form .textarea, .form .text-input, .form .option-input + label, .form .checkbox-input + label, .form .label {
  padding: 0.75em 1em;
  border: none;
  background: none;
  display: block;
}

.form .label {
  font-weight: bold;
  color: rgb(12, 1, 1);
  padding-top: 0;
  padding-left: 0;
  letter-spacing: 0.025em;
  font-size: 1.125em;
  line-height: 1.25;
  position: relative;
  z-index: 100;
}


.customSelect, .form .select, .form .textarea, .form .text-input, .form .option-input + label, .form .checkbox-input + label {
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  background: #f8f6f6;
  color: rgb(7, 0, 0);
  position: relative;
}
.form {
  max-width: 40em;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 40em) {
  .form .field.half {
    width: calc(50% - 1px);
  }
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1; /* makes both inputs take equal width */
  display: flex;
  flex-direction: column;
  min-width: 0; /* allows shrinking on small screens */

}

.text-input {
  width: 100%; /* input fills its container */
}